.display-none {
  display: none; }

.main-section {
  background-image: url(./assets/destination/background-destination-mobile.jpg);
  width: 100%;
  background-size: cover;
  background-position: bottom;
  position: relative;
  overflow: hidden; }
  .main-section .main--header {
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main-section .main--header button {
      background: none;
      border: none;
      outline: none;
      padding: 0;
      cursor: pointer;
      width: 35px;
      height: 35px; }
    .main-section .main--header .main-navigation--hidden {
      transform: translateX(100%); }
    .main-section .main--header .main-navigation {
      transition: all 0.4s;
      position: absolute;
      right: 0;
      top: 0;
      width: 254px;
      height: 100%;
      backdrop-filter: blur(10px);
      background: rgba(11, 13, 23, 0.15);
      text-align: right;
      padding: 32px 0px 0px 32px;
      box-sizing: border-box; }
      .main-section .main--header .main-navigation .close-btn {
        margin-right: 24px; }
      .main-section .main--header .main-navigation ul {
        text-align: left;
        margin-top: 48px; }
        .main-section .main--header .main-navigation ul li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 32px; }
          .main-section .main--header .main-navigation ul li:last-child {
            margin: 0; }
          .main-section .main--header .main-navigation ul li a {
            color: white;
            text-transform: uppercase; }
          .main-section .main--header .main-navigation ul li .li--line {
            width: 3px;
            height: 20px;
            background-color: white;
            display: block; }
  .main-section .home-page {
    padding: 24px;
    box-sizing: border-box;
    color: #D0D6F9; }
    .main-section .home-page hgroup {
      text-align: center;
      font-family: "Bellefair", serif; }
      .main-section .home-page hgroup h1 span {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2.4px;
        display: block;
        margin-bottom: 24px; }
      .main-section .home-page hgroup h1 strong {
        font-size: 80px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 24px; }
      .main-section .home-page hgroup p {
        font-family: "Barlow", serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 27px; }
    .main-section .home-page .explor-button--div-hover {
      background: rgba(255, 255, 255, 0.3);
      box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.3);
      transition: all 0.6s; }
    .main-section .home-page .explor-button--div {
      margin: auto;
      margin-top: 60px;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.6s; }
      .main-section .home-page .explor-button--div .explor-btn {
        background: none;
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;
        width: 144px;
        height: 144px;
        border-radius: 50%;
        background-color: #FFF;
        text-transform: uppercase;
        font-family: "Bellefair", serif;
        font-size: 18px;
        font-weight: 400;
        color: #0B0D17;
        letter-spacing: 3px;
        cursor: pointer; }

.pick-your-destination--section {
  text-align: center;
  font-family: "Barlow", serif;
  color: #FFF;
  padding: 24px;
  box-sizing: border-box; }
  .pick-your-destination--section h6 {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; }
    .pick-your-destination--section h6 span {
      color: rgba(255, 255, 255, 0.25);
      font-weight: 700; }
  .pick-your-destination--section img {
    width: 190px;
    margin-bottom: 50px; }
  .pick-your-destination--section .planet--list {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    text-transform: uppercase; }
    .pick-your-destination--section .planet--list li {
      padding-bottom: 20px;
      box-sizing: border-box;
      position: relative; }
      .pick-your-destination--section .planet--list li .planet-inp {
        position: absolute;
        z-index: -1;
        visibility: hidden;
        display: none; }
      .pick-your-destination--section .planet--list li .planet-inp--label {
        transition-property: color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        padding-bottom: 20px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 400;
        color: #D0D6F9;
        font-family: "Barlow Condensed", serif;
        letter-spacing: 2px; }
      .pick-your-destination--section .planet--list li .planet-inp:checked + .planet-inp--label {
        color: #fff;
        border-bottom: 2px solid #fff; }
  .pick-your-destination--section hgroup h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 400;
    font-family: "Bellefair", serif; }
  .pick-your-destination--section hgroup p {
    font-size: 15px;
    font-weight: 400;
    color: #D0D6F9;
    line-height: 27px;
    padding-bottom: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
  .pick-your-destination--section hgroup .distance-time {
    margin-top: 32px; }
    .pick-your-destination--section hgroup .distance-time div {
      margin-bottom: 28px; }
      .pick-your-destination--section hgroup .distance-time div span {
        letter-spacing: 2px; }
        .pick-your-destination--section hgroup .distance-time div span:first-child {
          font-family: "Barlow Condensed", serif;
          font-size: 14px;
          color: #D0D6F9;
          display: block;
          margin-bottom: 15px; }
        .pick-your-destination--section hgroup .distance-time div span:last-child {
          font-family: "Bellefair", serif;
          font-size: 28px;
          font-weight: 400;
          text-transform: uppercase; }
